:root {
    --main-color: rgba(var(--bs-info-rgb))
}

a {
    text-decoration: none;
}
.active {
    color: var(--main-color)!important;
}
a svg {
    color: var(--main-color)!important;
}
h1,h3 {
    color: var(--main-color)!important;
    text-shadow: 1px 1px 2px rgba(100,100,100,0.5);
}
h6 {
    color: var(--main-color)!important;
    text-shadow: 1px 1px 2px rgba(200,200,200,0.5);
}