:root {
    --dark-color: #212529;
    --dark-transparent-color: rgba(33,37,41, 0.65);
    --gray-color: #aaaaaa; 
    --green-color: rgb(25, 135, 84); 
    --green-transparent-color: rgb(25, 135, 84, 0.55); 
    --lightgray-color: #dddddd;
    --lightgray-transparent-color: rgba(221,221,221, 0.25);
    --main-color: #5285c5;
    --main-transparent-color: rgba(82, 133, 197, 0.25);
    --red-color: rgb(220, 53, 69);
    --red-transparent-color: rgb(220, 53, 69, 0.55);
    --yellow-color: rgb(255, 193, 7);
    --yellow-transparent-color: rgba(255, 193, 7, 0.85);
    --white-color: #fff;
}

*{ font-family: 'CenturyGothic', 'Century Gothic'; scroll-behavior: smooth; }
@font-face {
    font-family: "CenturyGothic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CenturyGothic.ttf") format("truetype");
  }

a { text-decoration: none; }

.active { color: var(--main-color)!important; }

a svg { color: var(--main-color)!important; }

h1,h2,h3,h4,h5,h6 { color: var(--main-color)!important; font-weight: bold; }

span { color: var(--main-color)!important; }
hr { opacity: 0.1; }

.century-gothic { font-family: 'CenturyGothic', 'Century Gothic' !important; }

.main-color { color: var(--main-color)!important; }
.red-color { color: var(--red-color)!important; }
.bg-dark-transparent-color { background-color: var(--dark-transparent-color) !important; }
.bg-green-transparent-color { background-color: var(--green-transparent-color) !important; }
.bg-main-color { background-color: var(--main-color) !important; }
.bg-main-color:hover { background-color: var(--dark-color) !important; }
.bg-main-transparent-color { background-color: var(--main-transparent-color)!important; }
.bg-red-transparent-color { background-color: var(--red-transparent-color)!important; }
.bg-yellow-transparent-color { background-color: var(--yellow-transparent-color)!important; }
.dark-color-hover:hover { color: var(--dark-color) !important; }

.text-justify { text-align: justify !important; text-align-last: center; }
.text-indent { text-indent: 1rem; }

.h-35 { height: 33.5%; }
/************************************************************************/ 
/****** Header ******/ 
.header { background: url("../../background.svg") repeat;}

/****** NavBar ******/
.navbar-toggler-icon { color: var(--main-color) !important; }

/****** InmuebleCard ******/
.badge { /* top: 220px; */ }

.card-img, .card-img-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    filter: saturate(600%);
    filter: brightness(130%);
}

/***** Pagination *****/
.page-arrow {
    background-color: transparent !important;
    padding: 0 .25rem !important;
    border: none !important;
    box-shadow: none !important;
}
.page-arrow:active, .page-arrow:hover {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.page-link {
    background-color: transparent !important;
    color: var(--gray-color);
    padding: 0 .25rem !important;
    border: none !important;
    box-shadow: none !important;
}
.page-link:hover {
    background-color: transparent !important;
    color: var(--dark-color);
    border: none !important;
    box-shadow: none !important;
}
.page-item.active .page-link {
    background-color: transparent !important;
    color: var(--main-color);
    border: none !important;
    box-shadow: none !important;
}

/****** HOME SCREEN ******/
.input:focus { border-color: var(--main-color); border-width: 1.25px;}

/****** INMUEBLE SCREEN ******/
.img-inmueble {
    height: 30rem;
    filter: saturate(200%);
    filter: brightness(130%);
}
.carousel-control-prev, .carousel-control-next { opacity: 1; }
.carousel-control-prev:hover, .carousel-control-next:hover { background-color: transparent; }

.btn-inmueble {
    color: var(--main-color);
    background-color: var(--white-color);
    border-color: var(--main-color);
    font-weight: bold;
}
.btn-inmueble:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

/***** SEARCH SCREEN *****/
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused { color: var(--main-color) !important; }
.btn-main { background-color: var(--main-color); }

/***** STOCK SCREEN *****/
.image-upload > input { display: none; }
.image-upload img { width: 2rem; cursor: pointer; }
